@tailwind base;
@tailwind components;
@tailwind utilities;


/* customStyles.css */

.slide {
    background: #fff;
    color: #3498db;
    font-size: 42px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 0.5;
}

.slick-center .slide {
    opacity: 1;
    font-size: 80px;
}

.swiper-slide {
    transition: transform 0.5s ease-in-out;
}

.swiper-slide-active {
    transform: scale(1.2);
    margin-bottom: 40px !important;
}

@media (max-width: 768px) {
    .swiper-slide-active {
        margin-bottom: 30px !important;
    }
}